
.head{
    padding: 2%;
    position: flex;
    
        
}

.head_hello, .head_mainMenu, .head_contacts{
    position: absolute;
    display: inline-block;
}
.head_hello{
    
    font-family: 'unispace';
    color: gold;
    font-size: 14pt;

}
.head_mainMenu{
    right: 10px;
    top: 2%;
}
.head_mainMenu a{
    
    font-size: 12pt;
    color: gold;
    text-decoration: none;
    padding: 1px;
    font-family: 'unispace';
    background-color: rgb(7, 43, 85);
}

a:hover{
    color:white;
    text-decoration-line: underline;
}

@media(max-width: 350px) {
    .head{
        font-size: 22pt;
        color: red;
        
        
    }
}

