<div class="mainMenuContainer">
    <div class="mainMenuImg"> 
        <img src="./img/logo.jpg"    alt="Ksaltotun's logo" class="image-small">
        
    </div>
    
    <div class="mainMenu--About mmi">
        <a href="#" class="text-a">О себе</a>

    </div>
    <div class="mainMenu--Attributes mmi">
            <a href="#Skills" class="text-a">Интересы</a>

    </div>
    <div class="mainMenu--Works mmi">
            <a href="#Photo" class="text-a">Фото</a>

    </div>
    <div class="mainMenu--Contacts mmi">
            <a href="#Social" class="text-a">Сети</a>

    </div>
        
</div>

