<div class="mainMenuContainer">
    <div class="mainMenuImg"> 
        <img src="./img/myEbalo.jpg" width="100px" height="130px"  alt="Ksaltotun's photo card">
    </div>
    <div class="mainMenu--About">
        <a href="#">About me</a>

    </div>
    <div class="mainMenu--Attributes">
            <a href="#">Skills </a>

    </div>
    <div class="mainMenu--Works">
            <a href="#">Fun&Photo </a>

    </div>
    <div class="mainMenu--Contacts">
            <a href="#">Contacts</a>

    </div>
        
</div>
