<div class="mainMenuContainer">
    <div class="mainMenuImg"> 
        <img src="./img/myEbalo.jpg"    alt="Ksaltotun's photo card" class="image-small">
    </div>
    <div class="mainMenu--About">
        <a href="#">About me</a>

    </div>
    <div class="mainMenu--Attributes">
            <a href="#">Skills </a>

    </div>
    <div class="mainMenu--Works">
            <a href="#">Fun&Photo </a>

    </div>
    <div class="mainMenu--Contacts">
            <a href="#">Contacts</a>

    </div>
        
</div>
