<div class="aboutContainer">
    <div class="aboutPhoto">
            <img src="./img/myEbalo.jpg"  alt="Ksaltotun's photo card">
    </div>
    <div class="aboutDescription">
        <h1>Роман "Ksaltotun" Мищенко</h1>
        <p>
                &emsp; Привет! Рад приветствовать вас на своей персональной страничке. <br>
                &emsp; Мне 31. (В таких случаях принятто писать "Я был стар во времена юности этого мира"). Закончил я МПГ №56 в дорогом и любимом мной г.Гомеле. Однокласникам привет! Дальше - Скорина, Срориночка скоринушка (ГГу им. Ф. Скорины ), физфак, кафедра радиофизики и эмектроники. 
                В этом храме науки я обычно спал в крайнем левом ряду (возле окна) на третьей парте. Через пять лет после поступления меня разбудили и  выдали диплом. Трудовая деятельность деятельна, но бестолкова: грузчик на погруз-рамке, рабочий-путеец
                (в оранжевой жилетке, забивал костыли в шпалы), рекламный агент (втирал визитки на рынке), мастер по ремонту ПК (Виндавсы переустанавливал), репетитор по программированию (учил студентов святым таинствам говнокода на С++). Много еще чем я занимался, но это все такое бестолковое 
                времяпрепровождение, что упоминать не буду о нем. <br>
                &emsp; Всегда хотел себе сайт-визитку, но, так как они стоят денег, не мог себе этого позволить.
            В общем, зачем страдать и ждать когда можно не страдать и не ждать! Нет, кредит я не брал )) Я сделал себе этот простой, но уютный сайт сам. Это первый опыт в веб-дизайне и программировании сайтов, но думаю, он получился лучше, чем мог бы )) 
             Здесь вы сможете найти информацию о моих увлечениях, аккаунтах в социальных сетях и (самомму страшно) внизу есть карта на которой можно меня найти в режиме "онлайн" !! 
             Короч, если вам интересны какие либо направления в моей деятельности, пишите, добавляйтесь в друзья. Тем более, если вы любите мотоциклы так, как их люблю я)
             В этом случае пишите/звоните непременно, катанем ат души, па брацки. 


        </p>
    </div>
</div>