.contacts--container{
    position: relative;
    height: 450px;
    background-color: rgb(36, 59, 88);
    top: 100px;
    display: flex-box;
    width: 100%;
    margin-top: 10px;
    color: white;
}

.contacts--box{
    width: 100%;
    height: 350px;
    background-color: rgb(36, 59, 88);
    display: flex;
    justify-content: center;
    align-items: center;
}

.contacts--buttons{
    width: 100px;
    height: 100px;
    display:flex;
    padding: 10px;
    margin: 20px;
    
    
}



.vk  a{
    transition: 2s;
    font-size: 50pt;
    color: white;
    
    
}
.git a{
    transition: 2s;
    font-size: 50pt;
    color: white;
    
}
.insta a{
    transition: 2s;
    font-size: 50pt;
    color: white;
}

.vk a:hover{
   
    text-shadow: white 0 0 10px;
    color:#1679db;
    transition: 1s ease;
    cursor: pointer;
    
}
.git a:hover{
    text-shadow: white 0 0 10px;
    color: orangered;
    transition: 1s ease;
    cursor: pointer;

}

.insta a:hover{
    text-shadow: white 0 0 10px;
    color: rgb(255, 0, 157);
    transition: 1s ease;
    cursor: pointer;

}
