<div class="contacts--container">
    <a href="" name="Social"></a>
    <div class="contacts--head"><h2>My sociality</h2>
    <div class="contacts--box">
        <div class="contacts--buttons vk">
                <a href="https://vk.com/id25967837" ><i class="fab fa-vk"></i></a>
                   
        </div>
        <div class="contacts--buttons insta">
                <a href="https://www.instagram.com/momarishchenko/"> <i class="fab fa-instagram"></i></i></a>
            
        </div>
        <div class="contacts--buttons git">
                <a href="https://github.com/Ksaltotun"> <i class="fas fa-code-branch" ></i></a>
           
        </div>

    </div>

    </div>
</div>
