<div class="skillsContainer">
    
    <div class="container">
            <div class="skillHead">
                    <h2>My skills</h2>
                </div>
            <div class="progress">
                    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="12" aria-valuemin="0" aria-valuemax="100" style="width:12%">
                        Python (12%)
                    </div>
            </div>
            <div class="progress">
                    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="8" aria-valuemin="0" aria-valuemax="100" style="width:8%">
                            BigData (8%)
                    </div>
            </div>
            <div class="progress">
                    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="6" aria-valuemin="0" aria-valuemax="100" style="width:6%">
                        MachineLearning (6%)
                    </div>
            </div>
            <div class="progress">
                    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="47" aria-valuemin="0" aria-valuemax="100" style="width:47%">
                            Motorcycle riding (47%)
                    </div>
            </div>
            <div class="progress">
                    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="22" aria-valuemin="0" aria-valuemax="100" style="width:22%">
                        Science (22%)
                    </div>
            </div>
            <div class="progress">
                    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="54" aria-valuemin="0" aria-valuemax="100" style="width:32%">
                            HTML (54%)
                    </div>
            </div>
            <div class="progress">
                    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="32" aria-valuemin="0" aria-valuemax="100" style="width:32%">
                        CSS (32%)
                    </div>
            </div>
            <div class="progress">
                    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="1" aria-valuemin="0" aria-valuemax="100" style="width:1%">
                            JavaScript (1%)
                    </div>
            </div>


        

    </div>
    

    
    
        
        
    

</div>