<div class="skillsContainer">
        <div class="skill--head"><h2>My skills</h2>
        </div>
        <div class="skill--tabs--head">
                        <div><span>CSS</span></div>
                        <div><span>HTML</span></div>
                        <div><span>another</span></div>
                        <div><span>another</span></div>
                        <div><span>another</span></div>
                        <div><span>another</span></div>
                        <div><span>another</span></div>
                        <div><span>another</span></div>
        </div>
        <div class="skill--tabs--body"></div>
</div>