<div class="skillsContainer">
    <a href="" name="Skills"></a>
        <div class="skill--head"><h2>Мои интересы</h2>
        </div>
        
        <div class="tab">
                <script>
                        function open_tab(evt, interesting_id) {
                        
                         var i, tabcontent, tablinks;

                        
                         tabcontent = document.getElementsByClassName("tabcontent");
                        for (i = 0; i < tabcontent.length; i++) {
                        tabcontent[i].style.display = "none";
                        }

                         
                         tablinks = document.getElementsByClassName("tablinks");
                         for (i = 0; i < tablinks.length; i++) {
                         tablinks[i].className = tablinks[i].className.replace(" active", "");
                         }

                        
                         document.getElementById(interesting_id).style.display = "block";
                        evt.currentTarget.className += " active";
                        }
                
                </script>
                <button class="tablinks"  style="font-family: 'gido'; font-size: 18pt" onclick="open_tab(event, 'javascript')">Javascript</button>
                <button class="tablinks" style="font-family: 'gido'; font-size: 18pt" onclick="open_tab(event, 'HTML')">HTML</button>
                <button class="tablinks" style="font-family: 'gido'; font-size: 18pt" onclick="open_tab(event, 'CSS')">CSS</button>
                <button class="tablinks" style="font-family: 'gido'; font-size: 18pt" onclick="open_tab(event, 'Python')">Python</button>
                <button class="tablinks" style="font-family: 'gido'; font-size: 18pt" onclick="open_tab(event, 'Motorcycle')">Мапедки</button>
                <button class="tablinks" style="font-family: 'gido'; font-size: 18pt" onclick="open_tab(event, 'Gaming')">Игрища</button>
              </div>
              
              
              <div id="javascript" class="tabcontent">
                <h3>javascript</h3>
                <p><a href="https://ru.wikipedia.org/wiki/JavaScript" class="refs">Копипаста из Википедии</a> <br><br>
                  Я не так давно занимаюсь javascript, но, онределенно мне он по душе. Помню первое свое с ним знакомство: ты такой уродливый, но лан, попробуем. Теперь он мой 
                  хороший товарищ )) Так бывает часто и с людьми. <br>
                  Пока не знаком с фреймворками JS, чисто на ванильке. Все впереди. Пока не могу определиться, что же лучше React, Angular или Vue? Пишите, короч, кто что на чем. 
                
                
                </p>
              </div>
              
              <div id="HTML" class="tabcontent">
                <h3>HTML</h3>
                <p><a href="https://ru.wikipedia.org/wiki/HTML" class="refs">Копипаста из Википедии</a> <br><br>
                 Тут све ясно )) верстать и верстать наш скудный удел )) Да ладно, если прям по чесноку, то делать разметку страницы скучновато.  
                </p> 
              </div>
              
              <div id="CSS" class="tabcontent">
                <h3>CSS</h3>
                <p><a href="https://ru.wikipedia.org/wiki/CSS" class="refs">Копипаста из Википедии</a> <br><br>
                  CSS - сладкий как мед )) Что-что,а это дело каеф. Реально </p>
              </div>
              <div id="Python" class="tabcontent">
                        <h3>Python</h3>
                        <p><a href="https://ru.wikipedia.org/wiki/Python" class="refs">Копипаста из Википедии</a> <br><br>
                          Хоспаде, это любовь с первого "хелло ворда" )) Невероятно, но я хочу от него детей. Расскажу вкратце, как я на него наткнулся: серфил такой в интернетах, и опа типа Питон. 
                        думаю, дай посмотрю. Ну и все. Понеслось. <br> На текущий момент я занимаюсь Big Data и Machine learning. 
                        </p>
              </div>
                      
                  <div id="Motorcycle" class="tabcontent">
                    <h3>Мотоциклы</h3>
                  <p>Душой и телом обожаю мотоциклы. Смотрю WSBK, болею, разумеется за Ducati)) На моем You-Tube канале можно посмотреть мою "ласточку" с разных сторон. </p> 
                  
                  <div class="vidosik"><iframe  width="100%" height="600" src="https://www.youtube.com/embed/F3G3VBsKSlg" frameborder="2" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
                  
                </div>
                      
                  <div id="Gaming" class="tabcontent">
                     <h3>Игрища</h3>
                    <p>Самый интересный пункт (для меня) Играю в комп с детства, и, как мне кажется, продолжу эту историю до самого конца )) Тащусь от РПГ и Стратегий, но не брезгую 
                      и другими жанрами. Что-то пеерчислять не хватит интернетов! 
                    </p>
                </div>

</div>