<div class="footer--container">
    <div class="footer--mabbox">
        
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d9730.443262739861!2d30.9583285!3d52.4318491!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2sby!4v1554820523019!5m2!1sru!2sby" width="300" height="300" frameborder="3" style="border:1" allowfullscreen></iframe>
    </div>
    <div class="google-analytics-box">
        <h4>Аналитика</h4>
        <div >
            <a href="https://metrika.yandex.ru/stat/?id=53467834&amp;from=informer"
target="_blank" rel="nofollow"><img src="https://informer.yandex.ru/informer/53467834/2_0_0066CCFF_0066CCFF_1_visits"
style="width:80px; height:31px; border:0;" alt="Яндекс.Метрика" title="Яндекс.Метрика: данные за сегодня (визиты)" /></a>
<!-- /Yandex.Metrika informer -->

<!-- Yandex.Metrika counter -->
<script type="text/javascript" >
   (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
   m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
   (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

   ym(53467834, "init", {
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true
   });
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/53467834" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
<!--LiveInternet counter--><script type="text/javascript">
document.write("<a href='//www.liveinternet.ru/click' "+
"target=_blank><img src='//counter.yadro.ru/hit?t29.2;r"+
escape(document.referrer)+((typeof(screen)=="undefined")?"":
";s"+screen.width+"*"+screen.height+"*"+(screen.colorDepth?
screen.colorDepth:screen.pixelDepth))+";u"+escape(document.URL)+
";h"+escape(document.title.substring(0,150))+";"+Math.random()+
"' alt='' title='LiveInternet: показано количество просмотров и"+
" посетителей' "+
"border='0' width='88' height='120'><\/a>")
</script><!--/LiveInternet-->

            
           

        </div>

    </div>
    <div class="contactsinf--box">
        <h4>Контакты</h4>
        <div class="contactsinf--box--contacts">
            <ul>
                <li><a class="link-a" href="skype:momarishchenko"><i class="fab fa-skype"></i>&nbsp&nbspSkype&nbsp&nbsp&nbsp</a></li>
                <li><a href="mailto:romah28ius@gmai.com"><i class="far fa-envelope"></i>&nbsp&nbspEmail&nbsp&nbsp&nbsp</a></li>
                <li><a href="slack:Ksaltotun"><i class="fab fa-slack"></i>&nbsp&nbspSlack&nbsp&nbsp&nbsp&nbsp</a></li>
                <li><a href="https://t.me/MomaRishchenko"><i class="fab fa-telegram-plane"></i>&nbsp&nbspTelegram</a></li>
                
              </ul>
        </div>

    </div>
   
</div>