html{
    
    margin: 0;
    padding: 0;
    background-color:rgb(55, 55, 65);
    font-family: 'gido';
    
    
}
body{
    
    display: flex;
    justify-content: center;
    
    
}
.all {
    display: flex-box;
    width: 80%;
    height: 2980px;
    background-color: rgb(36, 59, 88);
    justify-content: space-around;
}